<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Notes</title>

    <script type='text/javascript' src='../we_has_logic/featureTest.js'></script>
    <script type="text/javascript" src="../models/note.js"></script>
    <script type="text/javascript" src="../models/noteList.js"></script>
    <script type="text/javascript" src="../models/noteRender.js"></script>
    <script type='text/javascript' src='../spec/features/noteRenderSpec.js'></script>
    <script type='text/javascript' src='../spec/features/createNoteSpec.js'></script>

    <link href='../public/notes.css' type="text/css" rel='stylesheet'>
  </head>
  <body>
    <header>
      <h1>Notes</h1>
      <img src=>
    </header>

    <form id="form">
      <input id="noteform" type="text" name="Note">
      <button id="submit" type="submit">Create</button>
    </form>
    <div id='noteContainer'>
      <div id='notes'>
      </div>
    </div>

  </body>
</html>
